/* general */
* {
  color: #1B2A37;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
a, a:hover {
  color: #1B2A37;
}
html, body{
  margin: 0;
}
html{
  height: 100%;
}
body{
  background-color: #d3c0be;
  min-height: 100%;
  position: relative;
}
header, footer {
  background-color: #1B2A37;
  height: 4.5em;
}
header a, footer a{
  color: #fffafa;
  text-decoration: none;
}
main{
  padding: 7em 0;
}
h1{
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
h1, h3 {
  font-weight: bold;
}
p, a, li{
  /*font-size: 1.2rem;*/
}
hr{
  height: 3px !important;
  background: #1B2A37;
  font-size: 0;
  border: 0;
  opacity: 1;
  width: 80%;
  margin: auto;
}
.lightHr {
  width: 100%;
  height: 1px !important;
  background: #1B2A37;
  opacity: 0.3;
  margin-bottom: 0.5rem;
}
.clickable:hover{
  display: inline-block;
  transform: scale(1.05);
  cursor: pointer;
}

/* header */
header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
nav {
  height: 100%;
  padding: 0 10em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 3em;
  vertical-align: middle;
}
/* navlist */
.menulist {
  /* display: inline; */
  float: right;
  margin-bottom: 0;
}
.menulist li{
  display: inline-block;
  margin: 0 0 0 3em;
  font-size: 1.2em;
}
.menulist li a {
  text-transform: uppercase;
}
.menulist li a:hover {
  color: #fff;
}
.navactive{
  text-decoration: underline;
  transform: scale(1.05);
}
/* mobile */
.hamburgermenu, #toggle {
  text-align: right;
  font-size: 3em;
  display: none;
}

/* index */
.general{
  padding: 2em 8em;
  display: flex;
  justify-content: center;
}
.general div{
  order: 1;
}
.general div p a{
  font-size: 1em;
}
.me{
  height: 15em;
  order: 2;
  margin: 2em 0 0 4em;
}
.button{
  display: inline-block;
  text-align: center;
  /*border: 2px solid #1B2A37;*/
  border: none;
  border-radius: 10px;
  margin: 0.5em;
  padding: 0.4em 1em;
  background-color: #425668;
  color: #fffafa;
  text-decoration: none;
}
.buttonsmobile{
  display: none;
}
.rest{
  width: 100%;
  padding: 2em 8em;
  display: inline-flex;
  justify-content: center;
}
.rest img{
  height: 6em;
  display: block;
  padding: 0 2.5em;
}
.rest a{
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
}

/* portfolio */
.projectContainer{
  /*margin: 2em 0;*/
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}
.projectContainer a {
  width: 30%;
  margin: auto;
}
.projectContainer .portfolioLogo {
  height: 8em;
  margin: 0 8em 0 12em;
}
.projectContainer .info{
  width: 70%;
  text-align: left;
  padding: 0 2em;
  top: 0;
  bottom: 0;
  margin: auto;
}
.projectContainer h1 {
  font-size: 1.3em;
}
.projectContainer h2, .projectContainer h2 a, .projectContainer p, .projectContainer li, .projectContainer span{
  font-weight: normal;
  font-size: 1.2rem;
}
.info a, .expandedContent a {
  text-decoration: none;
}
.info h2 a, .info p a, .expandedContent a {
  color: #43515e;
}
#video {
  width: 30%;
}
#bookingImg {
  width: 80%;
  margin: 1rem;
  border-right: 5px;
}
/*carousel*/
.carousel-control-next, .carousel-control-prev {
  filter: invert(100%);
}
.carousel-indicators [data-bs-target] {
  background-color: #1b2a38;
}
.carousel-indicators {
  margin-bottom: 4rem;
}
.carousel-item {
  transform: scale(0.8);
}
.carousel-item span {
  text-align: center;
  display: block;
}
.carousel-indicators button {
  width: 20px !important;
  height: 20px !important;
  border-radius: 100%;
  margin-top: 50px;
  top: 50px !important;
  position: relative;
}
/*figma*/
.prototype--background--UQ6ML {
 background-color: #d3c0bf !important;
}
/*expanding*/
.expandMoreContent {
  height: fit-content;
  max-height: 15em;
  min-height: 1em;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  position: relative;
}
.expandMoreContent.expand-active {
  height: fit-content;
  min-height: 15em;
  max-height: 200em;
  transition: 0.5s ease-in-out;
}
.expandMore {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  right: 0;
  margin: 1rem auto;
}
.expand-active .expandMore {
  flex-direction: column-reverse;
}
.expandMore .expandedContent {
  display: none;
}
.expand-active .expandMore .expandedContent{
  display: block;
}
.expandedContent ul {
  margin-bottom: 0;
}
.btnExpandMore {
  font-size: 1rem;
  align-self: center;
  width: fit-content;
  margin: 1rem;
}



/* contact */
.contactlinks{
  text-align: center;
}
.contactlink{
  font-size: 1.5em;
  display: inline-block;
  text-align: left;
  width: 40%;
  text-decoration: none;
}
.icon{
  height: 2.5em;
  vertical-align: middle;
  margin: 2em 3em;
}

/* about */
.about{
  padding: 1.5em 10em;
}
.aboutme{
  text-align: center;
}
.aboutme p{
  text-align: left;
}
.techskills{
  justify-content: center;
  display: grid;
  grid: 25% 25% 25% 25%/33% 33% 33%;
  margin: 0 15em;
}
.stars{
  display: inline-grid;
  justify-content: center;
  width: 10em;
  height: 2em;
  margin: 0 1em 1em 0.5em;
  vertical-align: middle;
}
.techskills p, .perskills p{
  justify-content: center;
  width: 5em;
  display: inline-grid;
  height: 2em;
  font-size: 1.2em;
  margin: 2em 0 0 0;
  vertical-align: baseline;
}
.perskills{
  justify-content: center;
  display: grid;
  grid: 50% 50%/33% 33% 33%;
  margin: 0 15em;
}
#one, #one1{
  grid-area: 1/1/2/2;
}
#two, #two2{
  grid-area: 1/2/2/3;
}
#three, #three3{
  grid-area: 1/3/2/4;
}
#four, #four4{
  grid-area: 2/1/3/2;
}
#five, #five5{
  grid-area: 2/2/3/3;
}
#six, #six6{
  grid-area: 2/3/3/4;
}
#seven{
  grid-area: 3/1/4/2;
}
#eight{
  grid-area: 3/2/4/3;
}
#nine{
  grid-area: 3/3/4/4;
}
#ten{
  grid-area: 4/1/5/2;
}
#eleven{
  grid-area: 4/2/5/3;
}
#twelve{
  grid-area: 4/3/5/4;
}
.interests ul{
  font-size: 1.2em;
  display: inline-block;
  text-align: left;
  margin: 1.5em;
  list-style: none;
}
.interests ul li::before{
  content: "\2022";
  color: #425668;
  margin: 1em;
}
.aboutme a{
  margin: 2em;
}

/* footer */
footer{
  height: 5em;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  position: absolute;
  bottom: 0;
}
footer a.clickable{
  text-align: center;
  display: inline-block;
  margin: 0.5em 2em 0.5em 2em;
}
.iconfooter{
  height: 1.5em;
  vertical-align: middle;
  margin-right: 0.5em;
}
.mobilefooterlinks{
  display: none;
}
.copyright{
  float: right;
  /* display: inline-block; */
  margin: 0 10em 0 0;
}
.logofooter{
  width: 0.9em;
  vertical-align: middle;
}
.copyright, .copyright a{
  color: black;
}

/* responsiveness */
@media only screen and (max-width: 1112px) {
  html, body, header, main, footer{
    width: 100% !important;
  }
  main{
    padding: 5em 0;
  }
  hr{
    width: 90%;
  }
  /* header */
  nav{
    padding: 0 2em;
    vertical-align: middle;
  }
  /* index */
  .general{
    padding: 2em 5em;
  }
  .me{
    margin: 1.5em 5em 0 0;
  }
  .button{
    margin: 0.15em;
  }
  .rest{
    padding: 2em 2em;
  }
  .rest img{
    padding: 0 1.5em;
  }
  /* portfolio */
  .projectContainer .portfolioLogo {
    height: 7em;
    margin: 0 4em 0 5em;
  }
  .projectContainer a {
    width: 25%;
  }
  .projectContainer .info{
    width: 75%;
  }
  .carousel-indicators {
    margin-bottom: 3rem;
  }
  #bookingImg {
    width: 90%;
  }
  /* contact */
  .contactlink{
    width: 60%;
  }
  /* about */
  .about{
    padding: 1.5em 4em;
  }
  .techskills{
    margin: 2em 4em;
  }
  .perskills{
    margin: 2em 4em;
  }
  .stars{
    width: 9em;
    height: 1.8em;
  }
  .techskills p, .perskills p{
    height: 1.8em;
  }
  /* footer */
  footer{
    height: 4.5em;
  }
  footer a, .copyright{
    font-size: 1em;
  }
  .copyright{
    margin-right: 2em;
  }
  #video {
    width: 40%;
  }
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 1.9em;
  }
  /*portfolio*/
  #arctaurusImages {
    width: 90% !important;
  }
  /* about */
  .about{
    padding: 1.5em 3em;
  }
  .techskills{
    margin: 1.5em 3em;
  }
  .perskills{
    margin: 1.5em 3em;
  }
  .projectContainer h1, .projectContainer h3{
    font-size: 1.2em;
  }
  .projectContainer h2, .projectContainer h2 a, .projectContainer p, .projectContainer li, .projectContainer span{
    font-weight: normal;
    font-size: 1.1rem;
  }
  .stars{
    width: 8em;
    height: 1.6em;
  }
  .techskills p, .perskills p{
    height: 1.6em;
  }
  #video {
    width: 50%;
  }
}
@media only screen and (max-width: 875px) {
  h1 {
    font-size: 1.8em;
  }
  /*portfolio*/
  #arctaurusImages {
    width: 95% !important;
  }
  /*index*/
  .rest a{
    font-size: 1.4em;
  }
  /* about */
  .about{
    padding: 1.5em 2em;
  }
  .techskills{
    margin: 1.5em 2em;
  }
  .perskills{
    margin: 1.5em 2em;
  }
  .stars{
    width: 7em;
    height: 1.4em;
  }
  .techskills p, .perskills p{
    height: 1.4em;
  }
  .interests ul li{
    font-size: 1em;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.7em;
  }
  hr{
    width: 95%;
  }
  /* hamburger menu */
  .hamburgermenu{
    display: inline;
    cursor: pointer;
    float: right;
    margin: 0 0.5em;
    padding: 0;
  }
  nav{
    display: inline;
  }
  .logo{
    width: 4.5em;
    padding: 0.3em 0.8em;
  }
  .menu{
    background-color: #1B2A37;
    padding: 0;
  }
  .menulist{
    display: none;
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 0;
    border-top: 1px solid #1B2A37;
  }
  .menulist li{
    background-color: RGB(66, 86, 104, 0.97);
    display: block;
    padding: 0.5em 1.5em;
    margin: 0;
    border-bottom: 1px solid #1B2A37;
  }
  #toggle:checked + .menulist{
    display: block;
  }
  /* index */
  .general{
    padding: 0 2em 1em 2em;
  }
  .me{
    display: inline-flex;
    margin: 2.5em 2em 0 0;
  }
  .buttons{
    display: none;
  }
  .buttonsmobile{
    display: block;
    text-align: center;
    margin-bottom: 1em;
  }
  .buttonsmobile .button{
    margin: 0.5em;
  }
  .rest{
    padding: 2em 0.5em;
  }
  .rest img{
    height: 5.5em;
    padding: 0 1.5em;
  }
  /* portfolio */
  .projectContainer .portfolioLogo{
    height: 6em;
    margin: 0 1em 0 1.5em;
  }
  .projectContainer a {
    width: 20%;
  }
  .projectContainer .info{
    width: 80%;
  }
  .projectContainer h1, .projectContainer h3{
    font-size: 1.1em;
  }
  .projectContainer h2, .projectContainer h2 a, .projectContainer p{
    font-weight: normal;
    font-size: 1em;
    margin: 0.4em 0;
  }
  #bookingImg {
    width: 95%;
  }
  #arctaurusImages {
    width: 100% !important;
  }
  /* contact */
  .contactlink{
    width: 65%;
    font-size: 1.2em;
  }
  .icon{
    margin: 2em 2em;
  }
  /* about */
  .about{
    padding: 0.5em 2em;
  }
  .techskills{
    margin: 1.5em 2em;
  }
  .perskills{
    margin: 1.5em 2em;
  }
  .stars{
    width: 10em;
    height: 2em;
    margin: 1em 1.1em 1em 1.1em;
  }
  .techskills p, .perskills p{
    height: 2em;
  }
  .interests ul{
    display: block;
    margin: 1.5em 0 0 0;
  }
  .aboutme .button{
    margin: 2em 0.5em;
  }
  /* footer */
  footer{
    height: 4.5em;
  }
  footer a, .copyright{
    font-size: 1em;
  }
  footer a.clickable{
    margin: 0.5em 0.5em 0.5em 0.5em;
  }
  .copyright{
    margin-right: 1em;
  }
  #video {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.6em;
  }
  /*index*/
  main{
    padding: 4em 0;
  }
  .general{
    display: inline-block;
    justify-content: center;
    text-align: justify;
    padding: 0 1em 1em 1em;
  }
  .general h1, .general h2{
    text-align: center;
  }
  .me{
    display: block;
    margin: 1.5em auto;
  }
  .rest img{
    height: 5em;
    padding: 0 1em;
  }
  /* about */
  .about{
    padding: 0.5em 1em;
    font-size: 1em;
  }
  .techskills{
    margin: 1.5em 0.5em;
  }
  .perskills{
    margin: 1.5em 0.5em;
  }
  .stars{
    width: 8em;
    height: 1.6em;
    margin: 0 1em 1em 1em;
  }
  .techskills p, .perskills p{
    height: 1.6em;
  }
  .interests ul{
    padding: 0;
  }
  /* contact */
  .contactlink{
    width: 75%;
    font-size: 1.1em;
  }
  /* portfolio */
  .projectContainer .portfolioLogo {
    height: 5em;
  }
  .projectContainer h1, .projectContainer h3{
    font-size: 0.85em;
  }
  .expandMore {
    margin: 1rem auto;
  }
  .carousel-indicators {
    margin-bottom: 2.5rem;
  }
  /* footer */
  .footerlinks{
    display: none;
  }
  .mobilefooterlinks{
    display: inline-block;
    width: 100%;
  }
  .iconfooter{
    height: 2em;
  }
  #video {
    width: 70%;
    padding-top: 1em;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
  /*index*/
  .general{
    padding: 0 0.5em 1em 0.5em;
  }
  .general h1{
    font-size: 1.4em;
  }
  .general h2{
    font-size: 1.2em;
  }
  .general p{
    font-size: 1.1em;
  }
  .rest{
    font-size: 1em;
  }
  .rest img{
    height: 4em;
    padding: 0 0.75em;
  }
  .buttonsmobile .button{
    font-size: 1em;
  }
  /* about */
  .aboutme h1{
    font-size: 1.3em;
  }
  .aboutme h2{
    font-size: 1.2em;
  }
  .about{
    padding: 0.5em 0.5em;
    font-size: 0.9em;
  }
  .techskills{
    margin: 1.5em 0.1em;
    font-size: 0.9em;
  }
  .perskills{
    margin: 1.5em 0.1em;
    font-size: 0.9em;
  }
  .stars{
    width: 6em;
    height: 1.2em;
    margin: 0 1em 1em 1em;
  }
  .techskills p, .perskills p{
    height: 1.2em;
  }
  /* contact */
  .contactlink{
    width: 80%;
  }
  /* portfolio */
  .projectContainer .portfolioLogo {
    height: 4em;
  }
  .projectContainer h2, .projectContainer p, .projectContainer li, .projectContainer span{
    font-size: 0.8em;
  }
  #video {
    width: 80%;
  }
  .carousel-indicators {
    margin-bottom: 2rem;
  }
  .expandMore {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 1.4em;
  }
  /*index*/
  .general{
    padding: 0 0.5em 1em 0.5em;
  }
  .general h1{
    font-size: 1.3em;
  }
  .general h2{
    font-size: 1.1em;
  }
  .general p{
    font-size: 1em;
  }
  .rest{
    font-size: 0.8em;
    padding: 2em 0.2em;
  }
  .rest img{
    height: 3em;
    padding: 0 1.5em;
  }
  .buttonsmobile .button{
    font-size: 0.9em;
    margin: 0.2em;
  }
  /* about */
  .aboutme h1{
    font-size: 1.2em;
  }
  .aboutme h2{
    font-size: 1.1em;
  }
  .about{
    padding: 0.5em 0.5em;
    font-size: 0.8em;
  }
  .techskills{
    margin: 1.5em 0.1em;
    font-size: 0.8em;
  }
  .perskills{
    margin: 1.5em 0.1em;
    font-size: 0.8em;
  }
  .stars{
    width: 5em;
    height: 1em;
    margin: 0 1em 1em 1em;
  }
  .techskills p, .perskills p{
    height: 1em;
  }
  /* contact */
  .contactlink{
    width: 95%;
    font-size: 1em;
  }
  /* portfolio */
  .projectContainer .portfolioLogo {
    height: 4em;
  }
  .projectContainer h2, .projectContainer p, .projectContainer li, .projectContainer span {
    font-size: 0.8em;
  }
}
